body{
    font-family:Arial, sans-serif;
    background-color: rgb(226, 226, 223);
}
#cite {
    margin-top: 200px;
    text-align: center;
    text-decoration: underline;
}
#etic {
    background-color: rgb(180, 186, 181);
    color: rgb(19, 18, 18);
    padding: 20px;
    border: 5px solid rgb(179, 180, 186);
    border-radius: 20px;
    height: 5%;
    text-align: center;
}
.section {
    font-size: 30px;
}
h5 {
    font-size: 25px;
}
/* source box */
.sources_section {
    background-color: rgb(180, 186, 181);
    color: rgb(19, 18, 18);
    padding: 20px;
    border-radius: 20px;
    height: 50%px;
    width: 100%;
    margin-bottom: 50px;
}
.sources_section a {
    color: rgb(19, 18, 18);
}
.sources_section a:hover {
    color: rgb(226, 226, 223);
}
 
/* pics section */
 
.photo_section {
    background-color: rgb(180, 186, 181);
    color: rgb(19, 18, 18);
    padding: 20px;
    border: 5px solid rgb(179, 180, 186);
    border-radius: 20px;
    height: 40%;
    width: 100%;
    margin-bottom: 100px;
}
 
.photo_section a {
     color: rgb(19, 18, 18);
}
 
.photo_section a:hover {
    color: rgb(179, 180, 186);
}