#catcher {
    background-image: url(image_for_PBL/Why\ is\ the\ air\ polluted.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(226, 226, 223);
}